.App {
  text-align: center;
  margin-top: 20px;
}
.app__form {
  position: fixed;
  bottom: 20px;
  left: 0;
  right: 0;

  z-index: 1;
  background: #e9e9eb;
  width: 100%;
  margin: 20px;
}

.app__formControl {
  display: flex !important;
  flex-direction: row !important;
  padding: 20px !important;
}

.app__input {
  flex: 1;
}
.app__iconButton {
  flex: 0;
}

.app__bottom {
  padding: 100px;
}
